* {
    box-sizing: border-box;

}

body {
    font-size: 1em;
    margin: 0;
    resize: none;
    height: 80vh;
    /* width: 1000px; */
    background-color: var(--color2);
    font-family: montserrat-regular;
}

footer {
    background-color: var(--color1);
    text-align: center;
}